*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #181818;
}
/*Comienza header*/
header{
    background-color: #212121;
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    border-top: 1px solid gray;
    z-index: 1;
}
.cabezera-izquierdo{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
}
.cabezera-izquierdo img{
    width: 25px;
    height: auto;
}
.youtube a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-decoration: none;
}   
.youtube a img{
    width: 35px;
    height: 35px;
}
.youtube a h6{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2.2rem;
}
.cabezera-centro{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.buscar{
    display: flex;
}
.buscar input{
    background-color: hsl(0, 0%, 7%);
    color: white;
    width: 538px;
    height: 40px;
    border: 1px solid hsl(0, 0%, 18.82%);
    outline: none;
    outline-color: blue;
}
.lupa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 40px;
    background-color: hsl(0, 0%, 18.82%);
}
.lupa img{
    width: 20px;
    height: 20px;
}
.microfono{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 7%);
    border-radius: 100px;
}
.cabezera-derecho{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    gap: 20px;
}
.cabezera-derecho .apps{
    width: 30px;
    height: auto;
}
/* .cabezera-derecho config{ */
    
.acceder{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3ea6ff;
    gap: 5px;
}
.acceder img{
    width: 20px;
    height: auto;
}
.acceder p{
    font-size: 1.3rem;
    color: #3ea6ff;
    font-family: 'Roboto', sans-serif;  
}

/*Termina header*/


/*Empieza navegador*/
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 240px;
    padding-top: 60px;
    background-color: #212121;
    position: fixed;
    overflow-y: scroll;
        
}


nav p{
    color: white;
}
.contenedores-lateral{
    margin-top: 15px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 0px; /*agregado*/
}
.contenedores-lateral div{
    display: flex;
    width: 100%;
    height: 36px; /*agregado*/
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 20px;
}
.contenedores-lateral div:hover{
    background-color: rgba(126, 126, 126, 0.414);
}
.contenedores-lateral div img{
    width: 25px;
    height: auto;
}
.contenedores-lateral div p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.linea-separacion{
    height: 1px;
    width: 205px;
    background-color: gray;
    margin-top: 15px;
    padding-top: 1px;
}


.acceder-lateral{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    gap: 10px;
}
.acceder-lateral p{
    font-size: 1.4rem;
}
.titulos-laterales{
    font-size: 1.4rem;
    margin-left: 20px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    color: #AAAAAA;
}

.contenedores-lateral-circulos{
    margin-top: 15px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 0px;/*agregado*/
}
.contenedores-lateral-circulos div:hover{
    background-color: rgba(126, 126, 126, 0.414);;
}
.contenedores-lateral-circulos > div{
    display: flex;
    width: 100%;
    height: 36px; 
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 20px;
}
.acceder-lateral p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    
}
.circulos{
    width: 25px;
    height: 25px;
    background-color: rgba(85, 84, 84, 0.559);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.circulos img{
    width: 15px;
    height: auto;
}
.contenedores-lateral-circulos div p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.acerca-de{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    margin-top: 17px;
}
.acerca-de p{
    font-size: 1.3rem;
    color: #AAAAAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.copyright{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    padding-left: 21px;
    padding-bottom: 15px;
    gap: 5px;
}
.copyright img{
    width: 12px;
}
.copyright p{
    color: #717171;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

/*Termina navegador*/

/*Empieza main*/

main{
    background-color: #181818;
    width: 100%;
    /* height: 100vh; */
    margin-top: 59px;
    margin-left: 245px;
    overflow-x: hidden;
    
}
.contenedor-videos{
    display: grid;
    grid-template-columns: 360px 360px 360px 360px;
    grid-template-rows: 298px 298px 298px 298px;
    justify-content: center;
    gap: 20px;
    place-items: center;
    margin-top: 25px;
}
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    gap: 15px;
}

.video iframe{
    width: 360px;
    height: 203px;
}
.video iframe:hover{
    animation-name: expandir;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode:both;
}
.pie-de-video{
    display: flex;
    gap: 12px;
}

@keyframes expandir{
    from{

    }
    to{
        width: 430px;
        height: 273px;
        z-index: 1;
    }
} 
.imagen-canal img{
    border-radius: 100px;
    width: 33px;
    height: auto;
}
.titulo-video{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titulo-video p{
    color: rgb(110, 110, 110);
    font-size: 1.3rem;
}
.titulo-video .titulo{
    font-size: 1.4rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.titulo-video div p{
    font-size: 1.2rem;
    color: #AAAAAA;
    font-family: 'Roboto', sans-serif;
}

/*Termina main*/