body{
    grid-template-areas: 
    "header-responsive"
    "main"
    "nav-r";

    overflow-y: hidden;
    overflow-x: hidden;
    grid-template-columns: 100%;
    grid-template-rows: auto; 
    
}
.header{
    display: none;
}
.header-responsive{
    grid-area: header-responsive;
    background-color: #212121;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 1;
}
.conectar, .campana, .imagen-lupa{
    width: 26px;
    min-width: 10px;
    height: auto;
}

.usuario{
    border-radius: 100px;
    width: 26px;
    height: auto;
}

.nav{
    display: none;
}



.main{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contenedor-videos{
    grid-template-columns: 360px;
    grid-template-rows: 298px;
    width: 100vw;
    max-width: 360px;
    min-width: 100%;

}

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-width: 100%;
    gap: 15px;
}

.video iframe{
    width: 100vw;
    min-width: 100%;
   
}


.pie-de-video{
    width: 100vw;
    min-width: 100%;
    max-width: 249.2px;
    margin-left: 10px;
}

@keyframes expandir{
    from{

    }
    to{
        
    }
} 

#ultimo-video .pie-de-video{
    margin-bottom: 65px;
}

.nav-r{
    grid-area: nav-r;
    background-color: #212121;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    bottom: 0px;
    /* padding-left: 15px;
    padding-right: 15px; */
    z-index: 1;
    gap: 0;
}
.nav-r p{
    font-family: Roboto, sans-serif;
}
.nav-r .left{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav-r .left img, .nav-r .right img{
    width: 26px;
}

.nav-r .right{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.principal, .explorar, .suscripciones, .biblioteca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mas{
    width: 35px;
}